*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	max-width: auto;

}

/*start of page1*/

.landing-page{
	height: 100vh;
	width: 100%;
	background-color: #006666;
	width: 100%;
	color: #ADEFD1;
	background:url(https://wanderingcha.files.wordpress.com/2013/08/dsc_1591-4-copy.jpg);
	/*filter: blur(5px);*/
	background-size: cover;
	background-repeat: no-repeat;
	justify-content: center;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: -2;
}

/*.landing-page > .body1 > .greetings{
	width: 70%;
}

*/
.landing-page > pic-ctn{
	margin-bottom: 5px;
}

.body1{
	height: 100px;
	width: 70%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 2;
}


.greetings{
	font-family: "cookie";
	font-size: 70px;
	
}

.body1 > .main-name{
	font-family: 'Raleway', sans-serif;
	color: #ADEFD1;
	font-size: 40px;



}


.main-nav{
	background-color: #00203FFF;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0px;
}

.sub-nav{
	display: flex;
}


/*start of navbar*/
.navbar{
    background-color: #00203FFF;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 3;
}

.navbar > a{
	text-decoration: none;
    color:  #ff9900;
    margin-left: 50px;
    font-size: 25px;
    font-weight: 800;
    width: 30%;
    font-family: 'Lora', serif;

}

.navbar > ul{
	width: 70%;
	text-align: center;
	list-style-type: none;
	color: #ADEFD1FF;

}

.navbar > ul > li{
	display: inline;
	justify-content: center;
	margin-right: 20px;
	padding-right: 70px;


}

.navbar > ul > li > a{
	color: #ADEFD1FF;
	font-family: 'Lora', serif;

}

/*end of navbar*/

/*start of page1*/



/*start of page2*/

.homepage{
	height: 100vh;
	width: 100%;
	background-color:#006666;
	display: flex;
	justify-content: center;
	align-items: center;
}

.homepage > .badjao{
	width: 50%;
	justify-content: center;
	padding-left: 100px 0;

}

.homepage > .story{
	width: 50%;
	justify-content: center;
	text-align: justify;
	padding: 100px;
	
}

.badjao img{
	width: 70%;
	margin-left: 150px;
	margin-top: 70px;
	transform: 

}

.homepage > .story > p{
	text-align: center;
	color: #ADEFD1FF;
	justify-content: center;
	font-family: 'Roboto Mono', monospace;
	padding-top: 50px;

}

.homepage > .story > h4{
	text-align: center;
	color:  #ff9900;
	justify-content: center;
	font-family: 'Lora', serif;
	font-size: 200%;
	padding-top: 50px;
	text-shadow: 2px 2px #00203FFF;

}

.destination{
	height: 100vh;
	width: 100%;
	background-color: #006666;
	background-image: url(../images/banig.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-attachment: fixed;

}

.destination > .packages{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px;
	margin: 50px;
}

.destination > .packages > div{
	height: 200px;
	width: 150px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.destination > div > h1{
	font-family: 'Lora', serif;
	color:  #ff9900;
	margin-top: 30px;
	margin-left: 30px;
	font-size: 40px;
	justify-content: center;
	align-items: center;
  	text-shadow: 2px 2px #006666;

}

.destination > div{
	width: 80%;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.destination > div > p{
	font-family: 'Oswald', sans-serif;
	color: #b3ffec;
	margin-top: 30px;
	font-size: 150%;
	text-shadow: 1px 1px #662900;
	text-align: center;
}


.packages{
	display: flex;
	padding-bottom: 20px;
/*   	width: 300px;
  	height: 200px;*/
  	margin: 50px; 
  	align-content: center;
  	color: #b3ffec;

  }

.packages > div{
	display: flex;
	flex-direction: column;
	margin: auto;
	background-color: #006666;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	
}

.button1{
	margin-top: 40px;
	padding: 5px;
	background-color: #b3ffec;
	border-radius: 10px;
	

}

.button2{
	margin-top: 40px;
	padding: 5px;
	background-color: #b3ffec;
	border-radius: 10px;
	

}

.button3{
	margin-top: 40px;
	padding: 5px;
	background-color: #b3ffec;
	border-radius: 10px;
}


.gallery{
	background-color: #006666;
	height: 100vh;
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.gal{
	height: 10%;
	justify-content: center;
	margin-top: 10px;
	text-align: center;
	color:  #ff9900;
	justify-content: center;
	font-family: 'Lora', serif;
	font-size: 300%;
	text-shadow: 2px 2px #00203FFF;
}

.photo-cont{
	width: 70%;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin-left: 200px;

}

.photo-cont img{
	width: 20%;
	justify-content: center;
	align-items: center;
	margin: auto;



}


.map{
	height: 100vh;
	width: 100%;
	background: url(../images/talam.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: center;

}

.map1{
	display: flex;
	color: #006666;
	flex-direction: column;
	transition: transform .5s;
	/*justify-content: center;
	align-items: center;
	padding: auto;
*/
}

.map1 > h1{
	margin-left: 10px;
	font-family: 'Raleway', sans-serif;
	margin-top: 60px;
}

.map2 > h1{
	margin-left: 10px;
	font-family: 'Raleway', sans-serif;
	margin-top: 60px;
}

.map1:hover{
	transform: scale(1.2);
}

.map2{
	display: flex;
	flex-direction: column;
	color: #006666;
	transition: transform .5s;
	font-family: 'Raleway', sans-serif;
}


.map2:hover{
	transform: scale(1.2);
}

.map > div{
	background-color: orange;
	height: 80%;
	width: 30%;
	border: 2px solid orange;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}


.contact{
	height: 100vh;
	width: 100%;
	background-color: #006666;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;

}

.contacts{
	width: 50%;
	height: 50%;
	margin-left: 10px;
	color:  #ff9900;
	font-size: 25px;
	margin: auto;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	font-weight: 800;
	line-height: 2;
	text-align: center;	

}

.message{
	display: flex;
	flex-direction: column; 
	width: 50%;
	height: 50%;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.message > form{
	width: 50%;
	display: flex;
	align-items: center;
	flex-direction: column;

}



.form-input{
	display: block;
	width: 70%;
	border-radius: 10px;
	font-size: 18px; 
	margin: 10px;


}

.btn-contact{
	width: 30px;
}

.btn{
	border-radius: 10px;
	padding: 10px;
}
/*carousel effect*/

.pic-ctn {
  width: 100%;
  height: 200px;
}

@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.pic-ctn {
  position: relative;
  width: 100vw;
  height: 300px;
  margin-top: 15vh;
}

.pic-ctn > img {
  position: absolute;
  top: 0;
  left: calc(50% - 100px);
  opacity: 0;
  animation: display 10s infinite;
}

img:nth-child(2) {
  animation-delay: 2s;
}
img:nth-child(3) {
  animation-delay: 4s;
}
img:nth-child(4) {
  animation-delay: 6s;
}
img:nth-child(5) {
  animation-delay: 8s;
}




@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
  	.navbar{
  		height: 10vh;
  	}

  	.navbar > a{
  		font-size: 1000%;
  	}

  	.navbar-list{
  		font-size: 700%;
  	} 

  	.greetings{
  		font-size: 2000%;
  	}
  	.body1 > .main-name {
  		font-size: 200px;
  	}

  	.body1{
  		margin-bottom: 500px;
  		margin-top: 1000px;
  	}

  	.pic-ctn {
  		margin-right: 1200px;
  		margin-bottom: 4000px;
  	}

  	.pic-ctn > img{
  		height: auto;
  		width: 1500px;
  		margin-bottom: 2000px;
  	}

  	.homepage{
  		display: flex;
  		flex-direction: column;
  		justify-content: center;
  		align-items: center;
  	}

  	.homepage > .badjao {
  		margin-right: 200px;
  	}


  	.story{
  		font-size: 600%;
  	}

  	.destination > div > h1 {
  		font-size: 2000%;
  	}

  	.destination > div > p {
  		font-size: 800%;
  	}

  	.destination > .packages > div {
  		font-size: 450%;
  		height: 700px;
    	width: 700px;
  	}

  	.pack1 {
  		padding: 100px;
  	}

  	.gal{
  		font-size: 1500%;
  	}

  	.photo-cont img {
  		height: auto;
  		width: 30%;
  	}

  	.map1 > h1 {
  		font-size: 1000%;
  	}

  	.map2 > h1 {
  		font-size: 1000%;
  	}

  	.map > div {
  		height: 30%;
  	}

  	.contacts {
  		font-size: 700%;
  	}

  	.contact{
  		flex-direction: column;
  	}

  	.map1 > img{
  		height: auto;
  		width: 1000px;
  	}

  	.map2 > img{
  		height: auto;
  		width: 1000px;
  	}

  	.badjao img {
  		height: auto;
  		width: 2000px;
  		object-fit: cover;
  	}

  	.pic-ctn {
  		margin-right: 1200px;
  	}

  	.pic-ctn > img{
  		height: auto;
  		width: 1500px;
  	}
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

  	.navbar{
  		height: 10vh;
  	}

  	.navbar > a{
  		font-size: 300%;
  	}

  	.navbar-list{
  		font-size: 170%;
  	} 
  	.greetings{
  		font-size: 1000%;
  	}
  	.body1 > .main-name {
  		font-size: 100px;
  	}

  	.pic-ctn {
  		margin-right: 300px;
  	}

  	.pic-ctn > img{
  		height: auto;
  		width: 500px;
  	}

  	.homepage{
  		display: flex;
  		flex-direction: column;
  		justify-content: center;
  		align-items: center;
  	}

  	.story{
  		font-size: 200%;
  	}

  	.destination > div > h1 {
  		font-size: 700%;
  	}

  	.destination > div > p {
  		font-size: 400%;
  	}

  	 .destination > .packages > div {
  		font-size: 250%;
  		height: 300px;
    	width: 300px;
  	}

  	.gal{
  		font-size: 900%;
  	}

  	.photo-cont img {
  		height: auto;
  		width: 40%;
  	}

  	.map1 > h1 {
  		font-size: 500%;
  	}

  	.map2 > h1 {
  		font-size: 500%;
  	}

  	.map > div {
  		height: 30%;
  	}

  	.contacts {
  		font-size: 300%;
  	}

  	.contact{
  		flex-direction: column;
  	}

  	.homepage > .badjao {
  		margin-right: 300px;
  	}

  	.badjao img {
  		height: auto;
  		width:800px;
  	}
  }

